<<<<<<< HEAD
extends layouts/main
=======
extends layout/main
>>>>>>> b3c1e9728956591cf4a3e1f97f1d17fdc4fe44c2

block content
    .form-container
        form(action=routes.login, method="post")
<<<<<<< HEAD
            input(type="email", name="email", placeholder="Email", required=true)
            input(type="password", name="password", placeholder="Password", required=true)
            input(type="submit",value="Log In")
        include partials/socialLogin
=======
            input(type="email", name="email", placeholder="email",required=true)
            input(type="password", name="password", placeholder="password",required=true)
            input(type="submit", value="Log In")
        include partials/socialLogin
        
>>>>>>> b3c1e9728956591cf4a3e1f97f1d17fdc4fe44c2
